/* الصفحة كاملة */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #00f2fe); /* لون خلفية جميل */
  font-family: Arial, sans-serif;
}

/* Card */
.login-card {
  background: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

/* Title */
.login-title {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

/* Input */
.login-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* زر Login */
.login-btn {
  width: 100%;
  padding: 15px;
  background-color: #1a4e86; /* أزرق */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}
