/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* ===== Body ===== */
body {
  background-color: #f4f6f8;
  color: #333;
}

/* ===== Navbar ===== */
nav {
  background-color: #1e293b;
  color: white;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

nav h3 {
  font-weight: bold;
}

/* ===== Hero ===== */
.hero {
  height: 300px;
  background: linear-gradient(
      rgba(30, 41, 59, 0.6),
      rgba(30, 41, 59, 0.6)
    ),
    url("https://source.unsplash.com/1600x400/?restaurant");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
}

/* ===== Page ===== */
.page {
  padding: 40px;
}

/* ===== Cards ===== */
.card {
  background-color: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

/* ===== Table status ===== */
.available {
  color: rgb(38, 62, 95);
  font-weight: bold;
}

.unavailable {
  color: rgb(74, 61, 12);
  font-weight: bold;
}

/* ===== Buttons ===== */
button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #2563eb;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}

/* ===== Footer ===== */
footer {
  margin-top: 50px;
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 30px;
}

/* ===== Responsive ===== */
@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .page {
    padding: 20px;
  }
}
.restaurant-img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
    display: block; 
}


.menu-card {
  display: flex;
  flex-direction: column; /* 👈 هذا هو الحل */
  align-items: center;
  text-align: center;
}

.menu-card h4 {
  margin-bottom: 6px;
}

.menu-price {
  font-weight: bold;
  color: #222d71;
}

.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.auth-form {
  background: white;
  padding: 60px;
  width: 1000px;
  border-radius: 70px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.auth-form input {
  width: 118%;
  padding: 30px;
  margin-bottom: 20px;
}

.auth-form button {
  width: 119%;
  padding: 30px;
  background: #182041;
  color: white;
  border: none;
  border-radius: 10px;
}

.auth-switch {
  margin-top: 10px;
  color: #2563eb;
  cursor: pointer;
  text-align: center;
}
