body{

  font-family: Arial;

  background:#f4f4f4;

}

.container{

  width:90%;

  margin:auto;

}

.grid{

  display:flex;

  gap:20px;

}

.card{

  background:white;

  padding:15px;

  border-radius:10px;

}

.card img{

  width:200px;

  height:150px;

  object-fit:cover;

}

button{

  background:#28a745;

  color:white;

  border:none;

  padding:10px;

  margin-top:10px;

  cursor:pointer;

}

.form{

  background:white;

  padding:20px;

  margin-top:20px;

}
